# Assignment-1

## Task1

In [13]:
# 1) First Python program
print("Hello World")

Hello World

In [5]:
# 2) Numbers which are divisble by 7 and not multiple of 5 between 2000 to 3200
for i in range(2000,3200):
    if(i%7==0 and i%5!=0):
        print(i)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

In [58]:
# 3) Reversing a string
n1=input("Enter your first name:")
n2=input("Enter your last name:")
print(n2,"",n1)

Enter your first name:Rohan
Enter your last name:Cherukuri
Cherukuri  Rohan

In [12]:
# 4) Finiding volume of a sphere of diameter 12cm
V=4/3*3.14*6**3
print("The volume of the sphere is: ",V,"cm")

The volume of the sphere is:  904.3199999999999 cm

## Task2

In [53]:
# 1) Program to print comma sperated numbers on console
number=input("Enter comma-separated numbers: ")
mylist=number.split(',')
print(mylist)
type(mylist)

Enter comma-separated numbers: 1,2,3,4,5
['1', '2', '3', '4', '5']

list

In [15]:
# 2)Program to print the pattern 
n=int(input("Enter the range:"))
for i in range(n):
    for j in range(i):
        print('*',end='')
    print()
for i in range(0,n):
    for j in range(i,n):
        print('*',end='')
    print()

Enter the range:5

*
**
***
****
*****
****
***
**
*

In [55]:
# 3) Program to reverse a string from the user given input
name=input("Enter your name:")
print(name[::-1])

Enter your name:Rohan
nahoR

In [52]:
# 4) Progam to print a string in the specified format
s="WE, THE PEOPLE OF INDIA,\n      having solemnly resolved to constitue India into a SOVEREIGN,!\n\t     SOCILAIST,SECULAR,DEMOCRATIC REPUBLIC\n\t      and to secure to all citizens"
print(s)

WE, THE PEOPLE OF INDIA,
      having solemnly resolved to constitue India into a SOVEREIGN,!
	     SOCILAIST,SECULAR,DEMOCRATIC REPUBLIC
	      and to secure to all citizens